services:
  db:
    image: postgres:17.2-alpine3.21
    container_name: db
    ports:
      - "5433:5432"
    environment:
      - 'POSTGRES_USER=postgres'
      - 'POSTGRES_PASSWORD=pgadmin'
      - 'POSTGRES_DB=spring_security_redis_session'
  cache:
    image: redis:alpine3.19
    container_name: cache
    ports:
      - "6380:6379"
  app:
    build: .
    container_name: app
    depends_on:
      - db
      - cache
    ports:
      - "8080:8080"
    links:
      - db
      - cache