spring:
  docker:
    compose:
      enabled: false
      file: ./docker-compose.yml
  datasource:
    url: jdbc:postgresql://db:5432/spring_security_redis_session
    username: postgres
    password: pgadmin
  data:
    redis:
      host: cache
      port: 6379
      jedis:
        pool:
          enabled: true
          min-idle: 5
  session:
    redis:
      save-mode: on_set_attribute
      flush-mode: immediate
    timeout: 30m

logging:
  level:
    web: error
    org.springframework.security: error
    org.springframework.data.redis: trace